

/********************************************************
			Codezeel Custom Styles
********************************************************/
.cz-carousel {
  display: none;
  position: relative;
  float: left;
  width: 100%;
  margin: 0;
  -ms-touch-action: pan-y;
}

.owl-carousel .owl-wrapper {
  display: none;
  position: relative;
  -webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-wrapper:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.owl-carousel .owl-wrapper-outer {
  overflow: hidden;
  position: relative;
  float: left;
  width: 100%;
}
.owl-carousel .owl-wrapper-outer.autoHeight {
  -webkit-transition: height 500ms ease-in-out;
  -moz-transition: height 500ms ease-in-out;
  -ms-transition: height 500ms ease-in-out;
  -o-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out;
}
.owl-carousel .owl-item {
  float: left;
}
.owl-carousel .owl-item .manu_image a {
  display: inline-block;
}
.owl-carousel .owl-item .manu_image a img {
  max-width: 100%;
}
.owl-carousel .owl-item:hover a img {
  border-color: blue;
}
.owl-carousel .owl-wrapper,
.owl-carousel .owl-item {
  /* fix */
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  text-align: center;
}

/* mouse grab icon */
.grabbing {
  cursor: url("../img/codezeel/grabbing.png") 8 8, move;
}
 
.customNavigation {
    position: absolute;
    z-index: 8;
    right: 10px;
    width: 65px;
    top: -50px;
    direction: ltr !important;
}
.brands .customNavigation {
	right: 0px;
	left:0;
}
.customNavigation a {
	font-size: 0;
    position: absolute;
    font-weight: 300;
    height: 30px;
    width: 30px;
    line-height: 29px;
    padding: 0;
    background: #e5e5e5;
    cursor: pointer;
    overflow: hidden;
    -webkit-transition: all 0.5s ease;
    -webkit-transition-delay: 0s;
    -moz-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
#cztestimonialcmsblock .customNavigation a {
	background: transparent;
	height: 40px;
	width: 40px;
	background-color: #ddd;
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	mask-position: center;
	-webkit-mask-position: center;
	-webkit-mask-size: 30px;
	mask-size: 30px;
}
#cztestimonialcmsblock .customNavigation a:hover {
	background-color: #afbc25;
}
#cztestimonialcmsblock .customNavigation a.prev {
    left: 30px;
    -webkit-mask-image: url(../img/codezeel/left-angle.svg);
	  mask-image: url(../img/codezeel/left-angle.svg);
}
#cztestimonialcmsblock .customNavigation a.next {
    right: 30px;
    -webkit-mask-image: url(../img/codezeel/right-angle.svg);
    mask-image: url(../img/codezeel/right-angle.svg);
}
#cztestimonialcmsblock a:before {
  display: none;
}
.customNavigation a:before {
    font-size: 18px;
    font-family: "FontAwesome";
    color: #000;
}
.homeblog-latest .customNavigation a:before {
  color: #fff;
}
.customNavigation a.prev:before {
    content: "\f104";
}
.customNavigation a.next:before {
    content: "\f105";
}
.customNavigation a:hover{
    background: #afbc25;
}
.customNavigation a:hover:before{ color: #ffffff; }

.customNavigation a.prev {
    left: 0px;
    background-position: 1px 2px;
}

.customNavigation a.next {
    right: 0px;
    background-position: -56px 2px;
}

.customNavigation a.prev:hover{
	background-position: 1px -35px;
}

.customNavigation a.next:hover{
	 background-position: -56px -35px;
}
.homeblog-latest .customNavigation a:before {
    font-size: 22px;
}
@media (max-width: 991px) {
	.customNavigation a.prev{
		left: 0px;
	}
	.customNavigation a.next {
		right: 0px;
	}
  .customNavigation{
    top: -45px;
  }
}
@media (max-width: 1199px){
  #cztestimonialcmsblock .customNavigation a.prev{
    left: 10px;
  }
  #cztestimonialcmsblock .customNavigation a.next{
    right: 10px;
  }
}
#czleftbanner img,
#czrightbanner img{
	max-width: 100%;
}	
#czleftbanner li, #czrightbanner li {
    display: inline-block;
}
#czleftbanner li a, #czrightbanner li a {
    display: inline-block;
    overflow: hidden;
    position: relative;
    border-radius: 5px;
}
#czleftbanner .czleftbanner-container a:before,
#czrightbanner .czrightbanner-container a:before{
  background: rgba(255, 255, 255, 0.59);
  bottom: 0;
  content: "";
  height: 0;
  opacity: 1;
  filter: alpha(opacity=100);
  position: absolute;
  right: 0;
  width: 0;
}
#czleftbanner .czleftbanner-container:hover a:before,
#czrightbanner .czrightbanner-container:hover a:before{
  width: 100%;
  height: 100%;
  -webkit-transition-duration: 1.0s;
  transition-duration: 1.0s;
  opacity: 0;
  filter: alpha(opacity=0);
  width: 100%;
}	
/* .top_button {
    background: url(../img/codezeel/top-arrow.png) no-repeat scroll center center;
    bottom: 20px;
    cursor: pointer;
    height: 60px;
    padding: 0;
    position: fixed;
    right: 20px;
    text-align: center;
    width: 60px;
    z-index: 99;
} */

.top_button {
  background: #afbc25;
  bottom: 90px;
  cursor: pointer;
  height: 40px;
  padding: 0;
  position: fixed;
  right: 24px;
  text-align: center;
  display: none;
  width: 40px;
  z-index: 9;
  -webkit-animation-name: hvr-icon-bob-float, hvr-icon-bob;
  animation-name: hvr-icon-bob-float, hvr-icon-bob;
  -webkit-animation-duration: .3s, 1.5s;
  animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -ms-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	-moz-border-radius: 5px;
}
.top_button::before {
	font-family: "FontAwesome";
	content: "\f102";
	color: #fff;
	font-size: 26px;
	position: absolute;
	top: 6px;
	left: 12px;
}
.top_button::after {
	border: 2px solid #afbc25;
	bottom: -5px;
	height: 50px;
	opacity: 1;
	right: -5px;
	content: "";
	position: absolute;
	width: 50px;
	-webkit-transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-ms-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	-moz-border-radius: 5px;
}
.top_button:hover:after {
  animation: unset;
  -webkit-animation:unset;
}


/* Icon Bob */
@-webkit-keyframes hvr-icon-bob {
  0% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
  50% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  100% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
}
@keyframes hvr-icon-bob {
  0% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
  50% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  100% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
}
@-webkit-keyframes hvr-icon-bob-float {
  100% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
}
@keyframes hvr-icon-bob-float {
  100% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
}



/* Flexslider */

#index .spinner {
  background: url(../img/codezeel/loading.gif) no-repeat center center #f7f7f7;
  width: 100%;
  background-size: 4%;
  min-height: 530px;
}
@media (max-width: 1259px) {
  #index .spinner {
    min-height: 500px;
  }
}
@media (max-width: 1199px) {
  #index .spinner {
    min-height: 450px;
  }
}
@media (max-width: 991px) {
  #index .spinner {
    min-height: 400px;
  }
}
@media (max-width: 767px) {
  #index .spinner {
    min-height: 320px;
  }
}
@media (max-width: 480px) {
  #index .spinner {
    min-height: 200px;
  }
}
@media (max-width: 380px) {
  #index .spinner {
    min-height: 160px;
  }
}
