#header .vertical-menu{
   	z-index: 9;
    float: left;
    position: relative;
    width: 23.62%;
    padding-left: 0;
    padding-right: 10px;
    margin-right: 10px;
}
#index #header .vertical-menu {
    width: 22.5%;
    margin-right: 0;
}
#vertical_moremenu{ display: none; }
#czverticalmenublock{ 
    z-index: 9999;
    position: relative;
}

#czverticalmenublock .block_content{
    background-color: #afbc25;
    width: 100%;
    margin-top: 0;
    padding: 12px 0;
    border: none;
    border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    -ms-border-radius: 0 0 5px 5px;
    -o-border-radius: 0 0 5px 5px;
	-moz-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transform: perspective(600px) scaleY(0);
    transform-origin: top center;
    transition: all 0.5s ease-in-out 0s;
    -webkit-transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    -ms-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    opacity: 0;
    visibility: hidden;
}
#czverticalmenublock .block_content.dropdown-menu {
    display: block;
}
#czverticalmenublock.open .block_content {
    visibility: visible !important;
    opacity: 1;
    transform: perspective(600px) scale(1);
    transition: all 0.5s ease-in-out 0s;
    -webkit-transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    -ms-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
}
#index #czverticalmenublock .block_content {
    display: block !important;
    transform: none;
    visibility: visible;
    opacity: 1;
}
#index .header-top-inner.fixed #czverticalmenublock.open .block_content ,
#index #czverticalmenublock .block_content { display: block; }
#index .header-top-inner.fixed #czverticalmenublock .block_content ,
#index #czverticalmenublock.open .block_content { display: none; }

#czverticalmenublock .block_title{
    padding: 14px 30px 14px 50px;
    margin: 0;
    margin-bottom: 0;
    font-size: 16px;
    text-align: left;
    font-weight: 400;
    cursor: pointer;
    margin-top: 0;
    color: #fff;
    text-transform: capitalize;
    line-height: 26px;
    position: relative;
    background: #afbc25;
    border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    -ms-border-radius: 5px 5px 0 0;
    -o-border-radius: 5px 5px 0 0;
    position: relative;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    transition: all 0.5s ease-in-out 0s;
    -webkit-transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    -ms-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
}
#czverticalmenublock .block_title .expand-more {
	color: #ffffff; 
}
#czverticalmenublock .block_title .dropdown-arrow{
    float: left;
    padding-right: 10px;
}
#czverticalmenublock .block_title::before {
	font-family: "FontAwesome";
	content: "\F0C9";
	font-size: 17px;
	font-weight: 500;
	float: left;
	position: absolute;
	left: 25px;
}
#czverticalmenublock .block_title .dropdown-arrow::before {
	content: "\F107";
	font-family: 'FontAwesome';
	font-size: 20px;
	font-weight: normal;
	font-style: normal;
	position: absolute;
	right: 20px;
	color: #fff;
	top: 14px;
}
#czverticalmenublock.open .block_title .dropdown-arrow::before {
	content: "\f106";
}
#index #czverticalmenublock .block_title .dropdown-arrow::before{
    display: none;
}
#czverticalmenublock .block_title .expand-more {
	padding: 0px 0 0px 0px; 
}
#czverticalmenublock .block_title.dropdown:hover .expand-more, 
#czverticalmenublock .block_title.dropdown:hover .dropdown-arrow:before {
	text-decoration: none;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease; 
}
#czverticalmenublock .more_menu .more_category{ display: inline-block; text-align: right;  float: right;}
#czverticalmenublock .more_menu .more_category .navbar-toggler{  line-height: 6px; padding: 10px 0; }
#czverticalmenublock .more_menu .fa-icon.remove { display: none; }
#czverticalmenublock .more_menu .fa-icon.add { display: block; }
#czverticalmenublock .more_menu .vertical-menu-item.active .fa-icon.add {
    display: none;
}
#czverticalmenublock .more_menu.active .fa-icon.remove { display: block; }
#czverticalmenublock .more_menu .vertical-menu-item.active .fa-icon.remove {
    display: block;
}
#czverticalmenublock .more_menu.active .fa-icon.add { display: none; }

.verticalmenu_block > ul > li{ 
    position: relative; 
    padding: 0 15px;
}
.verticalmenu_block > ul > li:last-child { border: 0; }
.vertical-menu .top-menu a[data-depth="0"] {
    padding: 14px 15px 14px 25px;
}
.vertical-menu .top-menu[data-depth="1"] {
    margin: 0;
}
.vertical-menu .top-menu .sub-menu-arrow:after{
	display: block;
	font-family: "FontAwesome";
	content: "\f105";
	font-size: 18px;
	cursor: pointer;
    padding-top: 0px;
}
.vertical-menu .top-menu a:not([data-depth="0"]) {
    display: block;
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
    text-transform: capitalize;
    padding: 4px 0;
    border: none;
    margin: 0;
}
.vertical-menu .top-menu a.dropdown-submenu {
    color: #2fb5d2;
    text-transform: capitalize;
    font-weight: 700;
    font-size: 15px;
}
.vertical-menu .top-menu a {
    color: #333333;
    text-transform: capitalize;
    font-weight: 400;
}
.vertical-menu .top-menu .collapse {
	display: inherit;
}
.vertical-menu .top-menu .more_sub_menu a {
    margin: 0;
}
.vertical-menu .top-menu a[data-depth="0"]:before, 
.vertical-menu .top-menu a[data-depth="0"]:after {
    background: none;
    transform: none;
    -webkit-transform: none;
	border: 0;
}
.vertical-menu .top-menu .collapse {
    display: inherit;
}
@media (min-width: 992px) {
	.header-top-inner .vertical-menu ul > li:hover > .sub-menu {
		overflow: visible;
		transform: scale(1, 1);
		-webkit-transform: scale(1, 1);
		-ms-transform: scale(1, 1);
		-o-transform: scale(1, 1);
		-moz-transform: scale(1, 1);
		opacity: 1;
		-khtml-opacity: 1;
		-webkit-opacity: 1;
		-moz-opacity: 1;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
        filter: alpha(opacity=100);
        top: 8px!important;
		-webkit-transition: all 500ms ease 0s;
		-moz-transition: all 500ms ease 0s;
		-o-transition: all 500ms ease 0s;
		transition: all 500ms ease 0s;
        border-radius: 0px 5px 5px 0px;
	}
}
@media (max-width: 1199px){
    #header .blockcart .blockcart-header>a.shopping-cart:before{
        left: 20px;
    }
}
.vertical-menu .top-menu .sub-menu {
    border: 1px solid #fff;
    margin-left: 0;
    width: auto;
    z-index: 10000;
    border-radius: 0;
    display: none;
    border: 0;
    top: 8px!important;
    left: 100%;
    padding: 20px 10px 20px 0;
	transform: scale(0, 1);
    -webkit-transform: scale(0, 1);
    -ms-transform: scale(0, 1);
    -o-transform: scale(0, 1);
    -moz-transform: scale(0, 1);
    transform-origin: left center 0;
    display: block !important;
}
.vertical-menu .top-menu .sub-menu.collapse {
    display: none;
}
.vertical-menu .top-menu .sub-menu ul[data-depth="1"] > li {
    float: left;
    margin-left: 20px;
    min-width: 160px;
    position: relative;
}
.vertical-menu .top-menu .sub-menu ul li {
    float: none;
    margin: 0px;
    min-width: 165px;
	position: relative;
}
.vertical-menu .top-menu .sub-menu ul li a{ padding: 5px 0px; position:relative;}

.vertical-menu .top-menu .sub-menu ul li:last-child{ border: 0px; }
.vertical-menu .top-menu .popover {
    max-width: inherit;
}
.vertical-menu  .top-menu a.dropdown-submenu {
    color: #666666;
    text-transform: capitalize;
    font-weight: 400;
    font-size: 15px;
}
.vertical-menu .top-menu .sub-menu a {
    letter-spacing: 0.6px;
}
.vertical-menu .top-menu li a[data-depth="0"]{
    text-transform: initial;
    width: auto;
    font-weight: 400;
    letter-spacing: 0.6px;
    color: #ffffff;
    line-height: 24px;
    padding: 10px 5px 10px 30px;
    margin: 0;
    border: 0;
}
.vertical-menu .top-menu .more_sub_menu a {
    margin: 0;
}

.vertical-menu .top-menu .fa-icon.add:before,
.vertical-menu .top-menu .fa-icon.remove:before{
    font-size: 20px;
}
.vertical-menu .top-menu a[data-depth="0"].active, 
.vertical-menu .top-menu a[data-depth="0"].active:focus, 
.vertical-menu .top-menu a[data-depth="0"].active:hover {
	color: #000000;
    text-decoration: none;
	background-color: transparent;
}
.vertical-menu .top-menu a[data-depth="0"].active,
#czverticalmenublock .top-menu a[data-depth="0"]:hover {
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;	
}
.top-menu .sub-menu a:hover{
	color: #afbc25;
    text-decoration: none;
}
.vertical-menu .top-menu .menu-images-container img{ max-width: 100%; padding-left: 20px; margin-top: 10px;}

@media (max-width:1459px){
	.vertical-menu .top-menu a[data-depth="0"] {
		padding-top: 13px;
		padding-bottom: 7px;
	}
	#czverticalmenublock .block_content {
		padding: 8px 0;
	}
}
@media (max-width: 1199px) {
	#czverticalmenublock .block_title {
		font-size: 13px;
    }
    #czverticalmenublock .block_title .dropdown-arrow {
        padding-right: 8px;
    }
	.verticalmenu_block > ul > li {
		background: none;
	}
	#czverticalmenublock .block_content {
		padding-top: 5px;
        padding-bottom: 5px;
	}
	.vertical-menu .top-menu a[data-depth="0"] {
		padding-top: 7px;
		padding-bottom: 6px;
		padding-left: 20px;
	}
	.vertical-menu .top-menu li a[data-depth="0"] {
		padding-top: 9px;
		padding-bottom: 9px;
		line-height: 21px;
	}
	.vertical-menu .top-menu li a[data-depth="0"]::before { 
        top:17px;
    }
}
@media (max-width: 1199px) and (min-width: 991px){
	#left-column #czverticalmenublock .block_title{
		padding: 20px 20px;
	}
}
@media (max-width: 991px) {
    #index #header .header-top-inner.fixed #czverticalmenublock.open .block_title .dropdown-arrow:before, 
    #czverticalmenublock .block_title .dropdown-arrow:before{display:none;}
    #header .blockcart .blockcart-header>a.shopping-cart:before{
        left: 0;
    }
}